anthropic
backoff
openai
matplotlib
pypdf
pymupdf4llm
seaborn
numpy
transformers
datasets
tiktoken
wandb
tqdm
rich
humanize
dataclasses-json
funcy
black
genson
shutup
python-igraph
coolname
jsonschema
omegaconf
botocore
boto3
pyyaml
requests
psutil
filelock
kernels
rustbpe
pytest
python-dotenv
